<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" media="screen,projection" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!-- Navbar -->
    <nav>
        <div class="nav-wrapper black">
            <!-- Sidebar -->
            <a href="#" class="brand-logo center">
                <img class="brand-logo center" id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Logo" />
            </a>
            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img id="sidenav-bg" src="{{url_for('static', filename='images/background.png')}}" />
                        </div>
                        <a href="#user"><img class="circle" src="{{url_for('static', filename='images/user.png')}}" /></a>
                        <a href="#name"><span class="white-text name">John Doe</span></a>
                        <a href="#email">
                            <span class="white-text email">jdandturk@gmail.com</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a class="waves-effect" href="/dashboard"><i class="material-icons black-text">dashboard</i>Dashboard
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="/users"><i class="material-icons black-text">group</i>Users
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="/courses"><i
                            class="material-icons black-text">local_library</i>Courses
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="/enquiries"><i
                            class="material-icons black-text">query_stats</i>Enquiries
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="/categories"><i class="material-icons black-text">category</i>Categories
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="/qualifications"><i
                            class="material-icons black-text">military_tech</i>Qualifications
                    </a>
                </li>
                <li>
                    <a class="waves-effect" href="/batches"><i class="material-icons black-text">school</i>Batches
                    </a>
                </li>
                <div class="footer-container">
                    <div class="bottom">
                        <div class="divider"></div>
                        <button class="logout-button btn-large black waves-effect">
                            <li>
                                <a class="white-text" href="login"><i class="material-icons white-text">logout</i>Logout
                                </a>
                            </li>
                        </button>
                    </div>
                </div>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                <i class="material-icons white-text">menu</i>
            </a>
        </div>
    </nav>

    <!-- Content -->
    <div class="content-container">
        {% block content %} {% endblock %}
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>

    <script>
        // Modal Trigger
        $(document).ready(function () {
            $('.modal').modal();
        });

        // Tooltips
        $(document).ready(function(){
            $('.tooltipped').tooltip();
        });

        // Datepickers
        $(document).ready(function(){
            $('.datepicker').datepicker();
        });
    </script>

</body>

</html>