{% extends "base.html" %}
{% block content %}
<div class="buttons">
    <div class="search-bar">
        <div class="input-field">
            <i class="material-icons prefix black-text">search</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">Search Course</label>
        </div>
    </div>

    <a id="searchBtn" class="btn waves-effect white-text waves-light orange">Search<i class="material-icons white-text right">search</i></a>

    <a href="#modal1" class="filter-btn btn-flat modal-trigger btn-medium waves-effect waves-orange"
        onclick="$('#modal1').modal('open');"><i class="material-icons">filter_list</i></a>

    <div id="modal1" class="modal">
        <div class="modal-content">
            <form action="#">
                <p>
                    <label>
                        <input name="checkbox" type="checkbox" class="checkbox-orange" />
                        <span>Filter 1</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="checkbox" type="checkbox" class="checkbox-orange" />
                        <span>Filter 2</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="checkbox" type="checkbox" class="checkbox-orange" />
                        <span>Filter 3</span>
                    </label>
                </p>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-close waves-effect waves-orange btn-flat">Apply</a>
            <a href="#" class="waves-effect waves-orange btn-flat" onclick="clearFilters()">Clear</a>
        </div>
    </div>
</div>
{% for category in categories %}
    <div class="card">
        <div class="row right">
            <a href="#modal3" class="modal-close btn-flat waves-effect waves-orange" onclick="$('#modal3').modal('open');">Edit
                <i class="material-icons right">edit</i>
            </a>
            <div id="modal3" class="modal">
                <div class="modal-content">
                    <h1>Hi</h1>
                </div>
            </div>
            <a href="#modal4" class="modal-close btn-flat waves-effect waves-orange" onclick="$('#modal4').modal('open');">Delete
                <i class="material-icons right">delete</i>
            </a>
            <div id="modal4" class="modal">
                <div class="modal-content">
                    <h1>Hi</h1>
                </div>
            </div>
        </div>
        <h1 class="card-title">
            {{ category.categoryName }}
        </h1>
        <p>
            {{ category.categoryComments }}
        </p>
    </div>
{% endfor %}
{% endblock %}